[submodule "MathLib"]
	path = MathLib
	url = https://github.com/tylerHanf/MathLib.git
[submodule "Logger"]
	path = Logger
	url = https://github.com/tylerHanf/Logger.git
[submodule "Importer"]
	path = Importer
	url = https://github.com/tylerHanf/Importer.git
